:root {
    --main-color: #007bff; /* Define a variable called --main-color and set its value to #007bff (blue color) */
    --font-color:#fff;
    --font-size: 16px;     /* Define a variable for font size */
    --border-radius: 4px;  /* Define a variable for border radius */
    --border-color:#fff;
}
/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: var(--font-color);
}
body {
    height: 1px;
    background: linear-gradient(135deg, #3494E6, #EC6EAD);
  }
  


/* icons styles */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined{
    font-size: 35px;
    transition: all 0.5s;
    border: 1px solid var(--border-color);
    /* background-color: rgb(136, 0, 255); */
    border-radius: 50%;
    padding: 20%;
}

@keyframes iconHover {
    0% {
      transform: scale(1); /* Initial scale (no change) */
      /* color: black; Initial color */
    }
    100% {
      transform: scale(1.1); /* Scale to 120% size on hover */
      /* color: black; Change to a different color on hover */
    }
  }

  /* Apply the hover animation on hover */
.material-symbols-outlined:hover {
    animation: iconHover 0.5s; /* Use the iconHover keyframes animation with a 0.3s duration */
    animation-fill-mode: forwards;
}


section{
    /* height: 100vh; */
    width: 100%;
    position: absolute;
    left: -100%;
    /* background: linear-gradient(135deg, #3494E6, #EC6EAD); */
}


/* navigation sytles */
.navigation{
    position: fixed;
    top: 3%;
    right: 4%;
    z-index: 1;
}
.navigation ul {
    list-style-type: none;
    padding: 0;
    
}

/* Style the navigation list items */
.navigation li {
    color: white;
    margin: 50px 0;
    cursor: pointer;
    font-size: 26px;
    /* border: 1px solid black; */

}
/* media queries for navigation */
@media (max-width: 768px) {
    header{
        display: flex;
        justify-content: center;
    }
    .navigation{
        top: unset;
        right: unset;
        bottom: 0;
        width: 100%;
        background: linear-gradient(135deg, #3494E6, #EC6EAD);
    }
    .navigation ul{
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .navigation ul li{
        margin: 12px;
    }
  }


/* homepage styles */
#home{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#home h1 {
    font-size: 3rem;
}

#home p {
    font-size: 1.5rem;
}
.homepage{
    padding: 1%;
    display: flex;
    gap: 80px;
    align-items: center;
    width: 80%;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}
.image {
    border-radius: 8%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transform:rotate(7deg);
}


.message{
    font-size: 50px;
    color: var(--font-color);
}
.info{
    font-size: 26px;
    color: var(--font-color);
}
.button{
    font-size: 20px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 12px;
    text-decoration: none;
    color: var(--font-color);
    margin-right: 20px;
}

/* media queries for homepage */
@media (max-width: 768px){
    /* #home{
        border: 2px solid black;
    } */
    .homepage{
        flex-direction: column;
        gap: 20px;
    }
    .image{
        width: 150px;
        height: 150px;
        transform:rotate(0deg);
    }
    .info-container{
        margin: 2%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .message{
        font-size: 20px;
    }
    .info{
        font-size: 18px;
    }
    .button{
        font-size: 14px;
        padding: 10px;
        margin-right: 2px;
        margin-bottom: 12px;
        text-align: center;
    }


}


/* projects styles */
.title{        
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 12px;
}
.project-container {
    width: 80%;
    margin: auto;
    color: var(--font-color);
    padding: 2%;
}

.project-box {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    
}

.project-title {
    font-size: 18px;
    font-weight: bold;
}

.project-description {
    margin-top: 10px;
}

.project-image {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.button-container {
    margin-top: 10px;
    padding: 12px;
    text-align: center;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 768px) {
    .project-container {
        width: 90%;
    }

    .project-box {
        padding: 15px;
        margin-bottom: 30%;
    }

    .project-title {
        font-size: 16px;
    }
}

/* Media query for even smaller screens (e.g., very small devices) */
@media screen and (max-width: 480px) {

    .project-box {
        padding: 10px;
        border: none;
    }

    .project-title {
        font-size: 14px;
    }
    .button-container{
        padding: 0;
    }
    .button{
        font-size: 12px;
    }
}

/* about page sytles */

h1 {
    font-size: 32px;
}
.container {
    /* max-width: 800px; */
    max-width: 80%;
    margin: 4% auto;
    
}
.card {
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
h2 {
    font-size: 24px;
}
ul {
    list-style: none;
    padding: 0;
    line-height: 1.6rem;
}
li {
    margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
    .container {
        margin-bottom: 30%;
    }
}

/* contact page styles */
.contact-container{
    width: 60%;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}
form{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button {
    background-color: transparent;
    color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* button:hover {
    background-color: #555;
} */